/* Web page reset settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* Settings for main section */
main {
    font-family: Consolas, "Courier New", monospace;
    text-align: center;
    margin-top:5%;
}


/* Colour scheme for dark-mode  */
@media (prefers-color-scheme: dark){
    html {
        background-color: black;
    }
    
    .container{
        background-color: hsla(240, 10%, 4%, 0.917);
    }
    
    input{
        color: rgb(165, 199, 172);
        background-color: hsl(220, 8%, 8%);  
    }
    
    .sign{
        color: rgb(4, 251, 12);
        background-color: hsla(220, 2%, 25%, 0.699);
    }
    
    #C{
        color: rgb(251, 53, 4);
        background-color: hsla(220, 2%, 32%, 0.629);
    }
    
    .equal{
        background-color: rgb(4, 251, 12);
        color: hsla(133, 9%, 19%, 0.993);
    }
    
}